Assignment 3

Name: 
Date: 


Read the ufo csv file into a pandas Dataframe

In [1]:
import pandas as pd

#pd.set_option("display.max_rows", 10) 
#the previous line was disabled to 
ufos = pd.read_csv("complete.csv")


1. How many rows and columns are in the dataset? Should display as "Rows = 99999  Columns = 999"

In [2]:
#complete
#ufos.shape
ro = len(ufos)
co = len(ufos.columns)
answer = "Rows = " + str(ro) + " Columns = " + str(co)
print(answer)

Rows = 88874 Columns = 11


2. List all of the columns in the data set.

In [3]:
#complete
list(ufos.columns)

['datetime',
 'city',
 'state',
 'country',
 'shape',
 'duration (seconds)',
 'duration (hours/min)',
 'comments',
 'date posted',
 'latitude',
 'longitude']


3. Rename the column 'duration (seconds)' to be 'dur_s' and rename the 'duration (hours/min)' to be 'dur'. Show the first few rows of the table to show that the changes have been made.

In [4]:
#complete
ufos = ufos.rename(columns={"duration (seconds)":"dur_s", "duration (hours/min)":"dur"})
ufos.head()

,datetime,city,state,country,shape,dur_s,dur,comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611


4. We are going to work with the city field. How many of those are null? Display a sample and then display the number.

In [5]:
#complete
nullCity = ufos.loc[ufos.city.isna()]
number = ufos['city'].isna().sum()
print(nullCity.head(1))
print("\nNull Cities: " + str(number))

              datetime city state country shape  dur_s  dur comments  \
1710  10/14/2004 13:00  NaN   NaN     NaN   NaN    0.0  NaN      NaN

                                            date posted    latitude  longitude
1710  With all the guns in this country...why hasn&#...  10/27/2004        0.0

Null Cities: 195


5. Now we want to replace all of those NaN values with "UNKNOWN". And while we are at it, convert all the values to upper case.

In [6]:
#complete
ufos['city'] = ufos['city'].fillna("unkown")
ufos['city'] = ufos['city'].str.upper()
#ufos.head(1711)


6. Repeat that for the state, country and shape fields and use 'XX' for NaN values in state and country and "UNKNOWN" for shape.

In [7]:
#complete
ufos['state'] = ufos['state'].fillna("xx")
ufos['country'] = ufos['country'].fillna("xx")
ufos['shape'] = ufos['shape'].fillna("unkown")
ufos['state'] = ufos['state'].str.upper()
ufos['country'] = ufos['country'].str.upper()
ufos['shape'] = ufos['shape'].str.upper()
#ufos.head(1711)


7. How many sightings have there been in Calgary? Your answer should be: "There have been XX sightings in Calgary". Scan the data to see how the cities are entered.

In [8]:
#complete
inCalgary = ufos['city'].str.contains('CALGARY').sum()
print("There have been " + str(inCalgary) + " sightings in Calgary.")

There have been 90 sightings in Calgary.


8. What are the unique shapes and how many of each area there? List from most to least.

In [9]:
#complete
uShape = ufos['shape'].unique()
print("There are " + str(len(uShape)) + " unique U.F.O. shapes.")
ufos['shape'].value_counts()

There are 30 unique U.F.O. shapes.

LIGHT        17872
TRIANGLE      8489
CIRCLE        8453
FIREBALL      6562
UNKNOWN       6319
OTHER         6247
DISK          6005
SPHERE        5755
OVAL          4119
UNKOWN        3117
FORMATION     2657
CIGAR         2241
CHANGING      2140
FLASH         1472
RECTANGLE     1418
CYLINDER      1382
DIAMOND       1308
CHEVRON       1007
EGG            845
TEARDROP       817
CONE           367
CROSS          265
DELTA            8
ROUND            2
CRESCENT         2
FLARE            1
HEXAGON          1
DOME             1
CHANGED          1
PYRAMID          1
Name: shape, dtype: int64


9. Show the values for record number 131.

In [10]:
#complete
ufos.iloc[131]

datetime                                        10/10/2003 19:15
city                                                 CENTREVILLE
state                                                         VA
country                                                       US
shape                                                      OTHER
dur_s                                                        600
dur                                                   10 minutes
comments       Aliens check out local high school football game.
date posted                                           10/15/2003
latitude                                              38.8402778
longitude                                               -77.4292
Name: 131, dtype: object


10. Show just the date and comments for record number 131.

In [11]:
#complete
date131 = ufos.iloc[131,0]
comment131 = ufos.iloc[131,7]
print("Date: " + str(date131) + "\nComment: " + str(comment131))

Date: 10/10/2003 19:15
Comment: Aliens check out local high school football game.


11. What are the maximum, average and median durations of the sighting, in seconds?

In [12]:
#complete
sec = ufos['dur_s']
maxS = sec.max()
avgS = sec.mean()
medS = sec.median()
print("Maximum: " + str(maxS) + "\nAverage: " + str(avgS) + "\nMedian: " + str(medS))

Maximum: 97836000.0
Average: 8373.22318931722
Median: 120.0


12. Write your edited dataframe to a new CSV file.

In [13]:
#complete
ufos.to_csv("complete2.csv")